In [15]:
# Import dependenices
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [16]:
# Create executable path to open a browser for the scraping: using WebDriver Manager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/juliabrunett/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver] found in cache

## NASA Mars News

In [9]:
# Define the url 
url = 'https://redplanetscience.com/'

In [10]:
# Visit the website using splinter
browser.visit(url)

In [11]:
# Iterate once to find the container, and then the latest news title and paragraph
for x in range(1):
    html = browser.html
    soup = bs(html, 'html.parser')
    
    container = soup.find('section', class_='image_and_description_container')
    news_title = container.find('div', class_='content_title').text
    news_p = container.find('div', class_='article_teaser_body').text
    
    print(news_title)
    print(news_p)

MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss
Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.

In [12]:
# get the response from the url
#response = requests.get(url)
#print(response)

In [13]:
#soup = bs(response.text, 'html.parser')
#print(soup.prettify())

## JPL Mars Space Images

In [26]:
# Url for jpl images
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [27]:
# Iterate once to find the container, and then the latest news title and paragraph
for x in range(1):
    html = browser.html
    soup = bs(html, 'html.parser')
    
    container = soup.find('div', class_='floating_text_area')
    
    # Click on the full image button to get the full image
    browser.links.find_by_partial_text('FULL IMAGE').click()
    box = container.find('a', class_='showimg fancybox-thumbs')
    
    featured_image_url = box['href']
    featured_image_url = url + featured_image_url
    
    print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts:

In [31]:
# Url for table facts
url = 'https://galaxyfacts-mars.com/'

In [47]:
# Find table data and load into pandas
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [70]:
# Create a dataframe from the first table
mars_earth_df = tables[0]
mars_earth_df = mars_earth_df.rename(columns = mars_earth_df.iloc[0])
#mars_earth_df = mars_earth_df.set_index("Mars - Earth Comparison")
mars_earth_df = mars_earth_df.iloc[1:].reset_index(drop=True)
mars_earth_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [71]:
html_table = mars_earth_df.to_html()

In [72]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'